/* REGOLE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --light-color: #FFFFFF;
    --dark-color: #a3a3a3;
    --bg-black: #000000;
    --bg-main: #141922;
    --bg-footer: #282828;
}

.light-color {
    color: var(--light-color);
}

.dark-color {
    color: var(--dark-color);
}


/* COLORI SFONDO
main-section color: #141922;
main-section color: overlay black;
footer color: #282828;
aside color: black;  */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}


/* REGOLE MAIN */
#main-structure {
    height: calc(100vh - 100px);
    width: 100%;
}


/* PARTE SINISTRA */
#main-col-sx {
    width: 250px;
    height: calc(100vh - 100px);
    font-size: 0.7em;
}

/* #main-col-sx .intro {
    min-height: 80px;
    line-height: 80px;
} */



#main-col-sx .container-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#main-col-sx .container-content .columns:first-child {
    height: calc(100% - 50px);
    min-height: 200px;
}

#main-col-sx .container-content .columns:first-child img {
    width: 70%;
    padding: 10px;
}

#main-col-sx .container-content .columns:last-child {
    height: 50px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#main-col-sx .container-content .col {
    padding-bottom: 1rem;
}

#main-col-sx .container-content .col:first-child ul {
    list-style: none;
}

#main-col-sx .container-content .container-list {
    width: 100px;
    height: 80px;
    overflow-y: scroll;
}




/* PARTE DESTRA */
#main-col-dx {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    position: relative;
    right: 0;
    top: 0;
}

#main-col-dx .cta {
    min-height: 80px;
    line-height: 80px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
}


#main-col-dx .cta-info {
    text-align: right;
    /* servirà padding + a tag e stilizzazione bottone */
}

#main-col-dx .container-content {
    height: 100%;
    overflow-y: scroll;
    padding-top: 80px;
}

#main-col-dx nav ul {
    list-style: none;
    justify-content: center;
}

#main-col-dx nav ul li {
    padding: 0.5rem;
}

#main-col-dx .container-content .section {
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
}

#main-col-dx .container-content .section .cards {
    width: 100%;
}

#main-col-dx .container-content .section .card {
    margin-right: 10px;
    width: calc((100% / 6) - 10px);
}




/* REGOLE FOOTER */
#end {
    min-height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 30;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--bg-footer);
}

#end .columns {
    width: 100%;
    height: 100px;
}

/* FOOTER PARTE SINISTRA */
#end .col-left-container {
    height: 100%;
    /* width: 250px; */
    align-items: center;
}


#end .col-left-container .song {
    padding: 0 10px;
    align-items: center;
}

#end .col-left-container .song img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#end .col-left-container .song div {
    padding: 0 5px;
}

#end .col-left-container .song-info {
    padding: 0 10px 0 40px;
}


/* FOOTER PARTE CENTRALE */
#end .col:nth-child(2) {
    width: 30%;
    align-items: center;
    justify-content: center;
}

#end .col-central-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#end .col-central-container  .player {
    margin-bottom: 10px;
}

#end  button {
    background-color: #282828;
    border: none;
    color: var(--light-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

#end .special-font i {
    font-size: 1.5rem;
}

#end .progress-bar .bar {
    width: 250px;
    height: 5px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
}

#end .progress-bar .bar .bar-inside {
    width: 100px;
    height: 5px;
    border-radius: 25px;
    background-color: var(--light-color);
}

/* FOOTER - PARTE DESTRA */
#end .col .col-right {
    height: 100%;
    align-items: center;
}

#end .col-right-progress-bar {
    padding: 0 10px;
}

#end .col-right-progress-bar .bar {
    width: 100px;
    height: 5px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
}

#end .col-right-progress-bar .bar .bar-inside {
    width: 60px;
    height: 5px;
    border-radius: 25px;
    background-color: var(--light-color);
}







/* MEDIA QUERY PER RESPONSIVE */
/* Medium */
@media screen and (max-width: 1100px) {
    #main-col-dx .container-content .section .cards {
        flex-wrap: wrap;
    }
    
    #main-col-dx .container-content .section .card {
        width: calc((100% / 4) - 10px);
        margin-bottom: 10px;
    }
}

/* Small */
@media screen and (max-width: 700px) {
    #main-col-dx .container-content .section .cards {
        flex-wrap: wrap;
    }
    
    #main-col-dx .container-content .section .card {
        width: calc((100% / 2) - 10px);
        margin-bottom: 10px;
    }
}

/* Extra-small */
@media screen and (max-width: 600px) {
    #main-col-sx {
        width: 50px;
    }
}

/* REGOLE DEBUG */
.debug #main-col-sx {
    border: 1px dashed black;
    background-color: lightcoral;
}


.debug #main-col-sx .container-content .columns:last-child {
    background-color: lightgray;
}

.debug #main-col-dx {
    border: 1px dashed black;
    background-color: lightblue;
}
/* 
.debug #main-col-dx .site-header {
    border: 1px dashed black;
    background-color: rgba(0, 0, 0, 0.5);
} */

/* 
#main-col-dx .container-content .section .card {
    border: 1px dashed black;
    background-color: greenyellow;
    height: 100px;
}


.debug #end {
    border: 1px dashed black;
    background-color: green;
}

.debug #end .col {
    border: 1px dashed black;
    background-color: yellow;
    min-height: 100%;
} */