/* REGOLE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'Montserrat', sans-serif;
}

/* COLORI SFONDO
main-section color: #141922;
main-section color: overlay black;
footer color: #282828;
aside color: black;  */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}

.col-30 {
    width: 30%;
}


.col-40 {
    width: 40%;
}


.col-50 {
    width: 50%;
}


.col-60 {
    width: 60%;
}


.col-70 {
    width: 70%;
}

/* REGOLE MAIN */


/* PARTE SINISTRA */
#main-col-sx .intro {
    min-height: 80px;
    line-height: 80px;
}

#main-col-sx {
    width: 250px;
    height: calc(100vh - 100px);
}

#main-col-sx .site-header #logo {
    /* servirà padding + width img */
}

#main-col-sx .container-content {
    width: 100%;
    height: calc(100% - 100px);
    flex-direction: column;
}

#main-col-sx .container-content .col {
    padding-bottom: 1rem;
}

#main-col-sx .container-content .col:first-child ul {
    list-style: none;
}

/* non riesco a fare overflow su aside */

/* #main-col-sx .col:nth-child(3) {
    min-height: 50px;
    width: 60%;
}

#main-col-sx .container-list {
    height: 100%;
    overflow-y: scroll;
} */




/* PARTE DESTRA */
#main-col-dx {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    position: relative;
    right: 0;
    top: 0;
}

#main-col-dx .site-header {
    min-height: 80px;
    line-height: 80px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
}


#main-col-dx .site-header-info {
    text-align: right;
    /* servirà padding + a tag e stilizzazione bottone */
}

#main-col-dx .container-content {
    height: calc(100% - 80px);
    overflow-y: scroll;
    padding-top: 80px;
}

#main-col-dx nav ul {
    list-style: none;
    justify-content: center;
}

#main-col-dx nav ul li {
    padding: 0.5rem;
}


#main-col-dx .container-content .section .card {
    width: 15%;
}


/* REGOLE FOOTER */
#end {
    min-height: 100px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 30;
}

#end .columns {
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; */
}

#end .col {
    line-height: 100px;
}




/* REGOLE DEBUG */
.debug #main-col-sx {
    border: 1px dashed black;
    background-color: lightcoral;
}

.debug #main-col-dx {
    border: 1px dashed black;
    background-color: lightblue;
}
/* 
.debug #main-col-dx .site-header {
    border: 1px dashed black;
    background-color: rgba(0, 0, 0, 0.5);
} */


#main-col-dx .container-content .section .card {
    border: 1px dashed black;
    background-color: greenyellow;
    height: 100px;
}


.debug #end {
    border: 1px dashed black;
    background-color: green;
}

.debug #end .col {
    border: 1px dashed black;
    background-color: yellow;
    min-height: 100%;
}